.header {
    display: flex;
    font-family: Monday;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
    background-color: rgb(255, 255, 255);
  
  }

  .logo {
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(33, 36, 39);
    text-decoration: none;
    float: left;
    letter-spacing: 1px;
    margin: 10px;
    margin-right: auto;
    font-size: 20px;
    
  }
  .links:hover{
    color:rgb(11, 124, 11)
  }

  .divider {
    size: 50px;
    border-top: 4px  solid rgb(11, 124, 11);
    margin-top: -10px;
    opacity: 1;
  }

  