.picked {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-left: 120px;
}

.pickButton {
    width: fit-content;
    height: fit-content;
    margin-left: 40px;
}

.titleRecommend {
    font-family: Monday;
    text-align: left;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 70px;
  }