.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    height: 90vh; /* esto mueve el cuadrado*/
    font-family: Helvetica;
    background-color: #f8f9fd;
    letter-spacing: 1.8px;
  }

  .signup {
    color: rgb(33, 36, 39);
    text-decoration: none;
  }
  .signup:hover{
    color:rgb(11, 124, 11)
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    /* margin-top: 5px; */
    cursor: pointer;
    font-size: 15px;
    background: #04a15f;
    border: 5px solid #04a15f;
    color: #fff;
    padding: 0px 65px;
    gap: 8px;
    margin: 10px;
  }
  
  input[type="submit"]:hover {
    background: #1c6e51;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    height: 50px;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }

  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }